:root {
  --colorBlack: hsl(0, 0%, 0%);
  --colorWhite: hsl(0, 0%, 100%);
}

@media (prefers-color-scheme: light) {
  :root {
    --bg: var(--colorWhite);
    --fg: var(--colorBlack);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: var(--colorBlack);
    --fg: var(--colorWhite);
  }
}

* {
  box-sizing: border-box;
}

html,
body {
  font-family: 'Times New Roman', Times, serif;
  background: var(--bg);
  color: var(--fg);
}

a {
  color: inherit;
}